<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--管理员-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>IP白名单设置</title>
  <meta content="虹软外包" name="keywords"/>
  <meta content="虹软外包" name="description"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta http-equiv="x-dns-prefetch-control" content="on"/>
<!--  <link rel="stylesheet" th:href="@{/css/pintuer.css}" href="../static/css/pintuer.css"/>-->
  <link href="../static/css/basestyle.css" th:href="@{/css/basestyle.css}" rel="stylesheet" type="text/css" />
  <link href="../static/css/user_center.css" th:href="@{/css/user_center.css}" rel="stylesheet" type="text/css" />
  <link href="../static/css/mc.css" th:href="@{/css/mc.css}" rel="stylesheet" type="text/css" />
  <script src="../static/js/jquery-1.8.3.min.js" th:src="@{/js/jquery-1.8.3.min.js}"></script>
  <script src="../static/js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
  <script src="../static/js/fwslider.js" th:src="@{js/fwslider.js}"></script>
  <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>
  <style type="text/css">
    /*body{text-align:center}*/
    table{width:70%;height:7%;align:center;align-content: center;margin-left: 15%}
  </style>
<style type="text/css">
  table.hovertable th {
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
  }
  table.hovertable tr {
    background-color:#d4e3e5;
  }
  table.hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
  }
</style>
<body>
<!--<script  th:if="${result eq 'true'}">
    alert("删除成功");
</script>
<script  th:if="${result eq 'false'}">
    alert("删除失败");
</script>
<script  th:if="${updateResult eq 'true'}">
    alert("更新成功");
</script>
<script  th:if="${updateResult eq 'false'}">
    alert("更新失败");
</script>-->
<div class="topper">
  <div class="wrap cl">
    <div class="t-left">您好，欢迎来到虹软外包管理平台！</div>
    <div class="t-right">
      <ul class="cl">
        <li class="user-list">
          <div class="top-user">
            <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}"/>
            <span th:text="${name}">飞翔的土豆</span>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="pop-dwon">
            <a href="login.html" th:href="@{/web/logout}" class="last">
              <i class="fa fa-power-off"></i>退出登录
            </a>
          </div>
        </li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        var setTime;
        $(".user-list").hover(function () {
			var _this = $(this);
            setTime = setTimeout(function () {
				_this.addClass("hover");
				$(".top-user i").removeClass("fa-caret-down").addClass("fa-caret-up");
                $(".user-list .pop-dwon").slideDown(300);
            }, 300);
        }, function () {
			var _this = $(this);
            if (setTime) {
                clearTimeout(setTime);
            }
            $(".user-list .pop-dwon").hide();
			_this.removeClass("hover");
			$(".top-user i").removeClass("fa-caret-up").addClass("fa-caret-down");
        });
    });
</script>

<div class="centers_m">
  <!--left-->
  <div class="centers_ml">
    <!--头像-->
    <div class="center_header">
      <a href="u_ziliao.html"><img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}"/></a>
      <div class="u-name">您好，<span th:text="${name}">飞翔的土豆</span></div>
    </div>
    <div class="centers_listm">
      <!--分类开始-->

      <!--<div class="listbox">
        <div class="centers_listm_one_in"><i class="fa fa-photo"></i><span>外包任务</span><b></b></div>
        <div class="gjszmdm">
          <a href="u_work_list_sh.html" class="center_in_self"><span>待审核</span></a>
          <a href="u_work_list_tg.html" class="center_in_self"><span>已通过</span></a>
        </div >
      </div>-->
      <div class="listbox">
        <div class="centers_listm_one_in"><i class="fa fa-paper-plane"></i><span>外包人员</span><b></b></div>
        <div class="gjszmdm">
          <a href="u_user_list_sh.html" th:href="@{/web/receiveTaskPersonal/no}" class="center_in_self"><span>待审核</span></a>
          <a href="u_user_list_tg.html" th:href="@{/web/receiveTaskPersonal/yes}" class="center_in_self"><span>已通过</span></a>
        </div >
      </div>
      <div class="listbox">
        <div class="centers_listm_one_in"><i class="fa fa-paper-plane"></i><span>IP白名单</span><b></b></div>
        <div class="gjszmdm">
          <a href="IPWhiteList.html" th:href="@{/web/IPWhiteList}" class="center_in_self"><span class="active" style="color: red">IP白名单设置</span></a>
        </div >
      </div>

    </div>
  </div>
<script type="text/javascript">
	$(function(){
		$(".centers_listm_one_in").click(function(){
			$(this).next(".gjszmdm").slideToggle().siblings("gjszmdm").slideUp()
			$(this).children("b").toggleClass("active")
			});
	})
</script>
  <!--right-->
  <div class="centers_mr">
    <div class="centers_r_items">
        <div class="items-con">
          <br/><br/>
          <div class="tip_notem" align="center">
            <ul>
              <li>1. 请保证IP终止地址始终大于等于起始地址</li>
              <li>2. 请保证IP地址格式为十进制</li>
              <!--<li>3. 认证成功后不可修改</li>-->
            </ul>
          </div>
          <br/><br/>
            <form action="#" th:action="@{/web/insert/IPWhiteList}" method="post" class="bordered">
              <table border="1">
                <tr>
                  <th>IP起始地址</th>
                  <td><input type="text" name="startAddress" required="required" style="text-align: center" placeholder="请输入IP起始地址" /></td>
                </tr>
                <tr>
                  <th>IP终止地址</th>
                  <td><input type="text" name="endAddress" required="required" style="text-align: center" placeholder="请输入IP终止地址"/></td>
                </tr>
                <tr>
                  <th>备注</th>
                  <td><input type="text" name="remark" required="required" style="text-align: center" placeholder="请输入备注"/></td>
                </tr>
              </table>
              <br/><br/><br/><br/><br/>
              <input type="submit" style="margin-left: 82%;margin-top: -7%;line-height: 35px; border: 1px solid #00aa00; width: 100px;color: #00aa00;font-size: large;background-color: transparent" value="新增"/>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfiexd"></div>
</body>
</html>