<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>系统消息</title>
  <meta content="虹软外包" name="keywords"/>
  <meta content="虹软外包" name="description"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <link href="../static/css/basestyle.css" th:href="@{/css/basestyle.css}" rel="stylesheet" type="text/css" />
  <link href="../static/css/mc.css" th:href="@{/css/mc.css}" rel="stylesheet" type="text/css" />
  <link href="../static/css/user_center.css" th:href="@{/css/user_center.css}" rel="stylesheet" type="text/css" />
  <script src="../static/js/jquery-1.8.3.min.js" th:href="@{/js/jquery-1.8.3.min.js}" ></script>
  <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="header">
    <div class="topper">
      <div class="wrap cl">
        <div class="t-left">您好，欢迎来到虹软外包管理平台！</div>
        <div class="t-right">
          <ul class="cl">
            <li class="user-list">
              <div class="top-user">
                <a href="u_index.html" th:href="@{/web/uIndexPage}">
                  <img src="../static/images/logo.jpg" th:src="@{/web/receiveTaskPersonalImage}"/>
                  <span th:text="${name}">飞翔的土豆</span>
                  <i class="fa fa-caret-down"></i>
                </a>
              </div>
              <div class="pop-dwon">
                <a href="u_index.html" th:href="@{/web/uIndexPage}"><i class="fa fa-user-o"></i>个人主页</a>
                <a href="u_xiaoxi.html" th:href="@{/web/systemNoticePage}"><i class="fa fa-commenting-o"></i>我的消息</a>
                <a href="u_workList1.html"><i class="fa fa-image"></i>我的任务</a>
                <a href="login.html" th:href="@{/web/logout}" class="last"><i class="fa fa-power-off"></i>退出登录</a>
              </div>
            </li>
            <li>
              <td th:if="${signInTime != null}"><span th:text="|签到:${signInTime}|" style="color:#F00">12:47:00</span></td>
              <td th:unless="${signInTime != null}"><a href="#" th:href="@{/web/signIn}">签到</a></td>
              <span>&nbsp;</span>
              <td th:if="${signOutTime != null}"><a href="#" th:href="@{/web/signOut}" th:text="|签退:${signOutTime}|" style="color:#F00">签退</a></td>
              <td th:unless="${signOutTime != null}"><a href="#" th:href="@{/web/signOut}">签退</a></td>
            </li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    $(function () {
        var setTime;
        $(".user-list").hover(function () {
			var _this = $(this); 
            setTime = setTimeout(function () {
				_this.addClass("hover");
				$(".top-user i").removeClass("fa-caret-down").addClass("fa-caret-up");
                $(".user-list .pop-dwon").slideDown(300);
            }, 300);
        }, function () {
			var _this = $(this);
            if (setTime) {
                clearTimeout(setTime);
            }
            $(".user-list .pop-dwon").hide();
			_this.removeClass("hover");
			$(".top-user i").removeClass("fa-caret-up").addClass("fa-caret-down");
        });
    });
</script>
<div class="head">
  <div class="wrap cl">
    <div class="logo"><a href="u_xiaoxi.html" th:href="@{/web/systemNoticePage}"></a></div>
    <div class="hd-r">
      <div class="menu">
        <ul class="cl">
          <li class="active"><a href="u_index.html" th:href="@{/web/uIndexPage}">个人中心<p>U-Center</p></a></li>
          <li><a href="workList.html" th:href="@{/web/smallTaskAllPage}">任务<p>Task</p></a></li>
          <li><a href="receiveTaskPersonalIndex.html" th:href="@{/web/indexPage/receiveTaskPersonal}">首页<p>Index</p></a></li>
        </ul>
      </div>
      <div class="search">
        <form action="#" th:action="@{/web/search/smallTaskName}">
          <input type="text" class="ipt-sea" placeholder="请输入任务名称" name="smallTaskName"/>
          <input type="submit" value="搜索" style="width:100px; height:44px; background:#c80000; color:#fff; text-align:center; font-size:16px; line-height:44px; position:absolute; right:-2px; top:-2px;"/>
        </form>
        <!--<a href="javascript:;">搜索</a>-->
      </div>
      <div class="num">
        <span>接包人员：<em th:text="${numOfReceiveTaskPersonal}">7,657</em>人</span>
        <span>接包公司：<em th:text="${numOfReceiveTaskCompany}">524</em>家</span>
        <span>已完成项目：<em th:text="${numOfHaveFinishedSmallTask}">15,517</em>项</span>
      </div>
    </div>
  </div>
</div>

<div class="centers_m">
  <!--left-->
  <div class="centers_ml">
    <!--头像-->
    <div class="center_header">
      <a href="u_ziliao.html" th:href="@{/web/changePersonalInformationPage}"><img src="../static/images/logo.jpg" th:src="@{/web/receiveTaskPersonalImage}" /></a>
      <div class="u-name"><span th:text="${name}">飞翔的土豆</span></div>
      <div class="u-lx-dj">
        <span>
          <i class="fa fa-mortar-board"></i>
        </span>
        <span class="vip-grade">
          <!--<i class="fa fa-vimeo"></i>-->
          <em th:text="${age}">23</em>
        </span>
      </div>
      <div class="u-area"><span>浙江</span>，<span>杭州</span></div>
    </div>
    <div class="u-safe-btn">
      <a href="u_ziliao.html" th:href="@{/web/changePersonalInformationPage}"><i class="fa fa-vcard"></i>个人资料</a>
      <a href="u_safe.html" th:href="@{/web/countSecurityPage}"><i class="fa fa-get-pocket"></i>账户安全</a>
    </div>
    <div class="centers_listm">
      <!--分类开始-->
      <div class="listbox">
        <div class="centers_listm_one_in"><i class="fa fa-photo"></i><span>我的任务</span><b></b></div>
        <div class="gjszmdm">
          <a href="u_workList1.html" th:href="@{/web/smallTaskIndexRunningPage}" class="center_in_self"><span>进行中</span></a>
          <a href="u_workList1.html" th:href="@{/web/smallTaskIndexFinishedPage}" class="center_in_self"><span>已完成</span></a>
        </div>
      </div>

      <div class="listbox">
        <div class="centers_listm_one_in"><i class="fa fa-commenting"></i><span>我的消息</span><b></b></div>
        <div class="gjszmdm">
          <a href="u_xiaoxi.html" class="center_in_self" th:href="@{/web/systemNoticePage}">
            <span class="active" style="color: red">系统消息</span>
          </a>
        </div >
      </div>
    </div>
  </div>
<script type="text/javascript">
	$(function(){
		$(".centers_listm_one_in").click(function(){
			$(this).next(".gjszmdm").slideToggle().siblings("gjszmdm").slideUp();
			$(this).children("b").toggleClass("active")
			});
	})
</script>
  <!--right-->
  <div class="centers_mr">
    <div class="centers_r_items">
      <div class="items-tit">
        <a class="tit-name active">我的消息</a>
      </div>
      <div class="items-con">
        <div class="public_m1 u-xiaoxi">


          <div class="public_m5">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr style=" border-bottom:1px solid #000">
                <th class="xx-checkbtn">选择</th>
                <th class="olist1">发信人</th>
                <th class="olist2">内容</th>
                <th class="olist3">时间</th>
                <th class="olist4">操作</th>
              </tr>
              <tr th:each="information : ${informations}">
                <td>
                  <label>
                  <input type="checkbox"/>
                  </label>
                </td>
                <td><em th:text="${information.sendname}">系统</em></td>
                <td>
                  <div class="xiaoxi-txt">
                    <span th:text="${information.content}">你的个人信息已审核成功</span>
                  </div>
                </td>
                <td th:text="${information.time}">2018/03/18 20:30</td>
                <td><a href="#" th:href="@{/web/systemNoticePage/delete(informationID = ${information.inforid})}">删除</a></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="clearfiexd"></div>
</div>
<!--footer-->
<div class="footer">
  <div class="ft-menu">
    <div class="wrap hide">
      <dl>
        <dt><i class="fa fa-compass"></i>虹软技术</dt>
        <dd>
          <a href="#">防抖技术</a>
          <a href="#">人脸技术</a>
          <a href="#">HDR技术</a>
          <a href="#">手势识别技术</a>
          <a href="#">全景技术</a>
        </dd>
      </dl>
      <dl>
        <dt><i class="fa fa-mortar-board"></i>接包人员</dt>
        <dd>
          <a href="#">上传作品</a>
          <a href="#">查看需求</a>
          <a href="#">立即加入</a>
        </dd>
      </dl>
      <dl>
        <dt><i class="fa fa-institution"></i>接包公司</dt>
        <dd>
          <a href="#">查看需求</a>
          <a href="#">发布作品</a>
          <a href="#">公司简介</a>
          <a href="#">立即加入</a>
        </dd>
      </dl>
      <dl>
        <dt><i class="fa fa-get-pocket"></i>虹软官网</dt>
        <dd>
          <a href="http://www.arcsoft.com.cn/">虹软中国</a>
          <a href="#">英文官网</a>
          <a href="#">虹软微博</a>
        </dd>
      </dl>
    </div>
  </div>

  <div class="ft-cop">
    <p>2018 虹软版权所有 <a href="#">浙ICP备11037259号-3</a> 联系电话：0527-88390110  邮箱：110@hongruan.com</p>
  </div>
</div>
</body>
</html>