<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwdlb.hongruan.mapper.CompanyAndTaskAndInvitationCodeMapper">
  <resultMap id="BaseResultMap" type="com.wwdlb.hongruan.model.CompanyAndTaskAndInvitationCode">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CompanyID" jdbcType="INTEGER" property="companyid" />
    <result column="TaskID" jdbcType="INTEGER" property="taskid" />
    <result column="InvitationCode" jdbcType="VARCHAR" property="invitationcode" />
    <result column="StartTime" jdbcType="VARCHAR" property="starttime" />
    <result column="EndTime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CompanyID, TaskID, InvitationCode, StartTime, EndTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from companyandtaskandinvitationcode
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from companyandtaskandinvitationcode
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwdlb.hongruan.model.CompanyAndTaskAndInvitationCode">
    insert into companyandtaskandinvitationcode (ID, CompanyID, TaskID, 
      InvitationCode, StartTime, EndTime
      )
    values (#{id,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, 
      #{invitationcode,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wwdlb.hongruan.model.CompanyAndTaskAndInvitationCode">
    insert into companyandtaskandinvitationcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="companyid != null">
        CompanyID,
      </if>
      <if test="taskid != null">
        TaskID,
      </if>
      <if test="invitationcode != null">
        InvitationCode,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="invitationcode != null">
        #{invitationcode,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwdlb.hongruan.model.CompanyAndTaskAndInvitationCode">
    update companyandtaskandinvitationcode
    <set>
      <if test="companyid != null">
        CompanyID = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        TaskID = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="invitationcode != null">
        InvitationCode = #{invitationcode,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwdlb.hongruan.model.CompanyAndTaskAndInvitationCode">
    update companyandtaskandinvitationcode
    set CompanyID = #{companyid,jdbcType=INTEGER},
      TaskID = #{taskid,jdbcType=INTEGER},
      InvitationCode = #{invitationcode,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=VARCHAR},
      EndTime = #{endtime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>