<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwdlb.hongruan.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="com.wwdlb.hongruan.model.Contract">
    <id column="ContractID" jdbcType="INTEGER" property="contractid" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    ContractID, Title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract
    where ContractID = #{contractid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contract
    where ContractID = #{contractid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwdlb.hongruan.model.Contract">
    insert into contract (ContractID, Title)
    values (#{contractid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wwdlb.hongruan.model.Contract">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        ContractID,
      </if>
      <if test="title != null">
        Title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        #{contractid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwdlb.hongruan.model.Contract">
    update contract
    <set>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where ContractID = #{contractid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwdlb.hongruan.model.Contract">
    update contract
    set Title = #{title,jdbcType=VARCHAR}
    where ContractID = #{contractid,jdbcType=INTEGER}
  </update>
</mapper>