<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwdlb.hongruan.mapper.InformationMapper">
  <resultMap id="BaseResultMap" type="com.wwdlb.hongruan.model.Information">
    <id column="InforID" jdbcType="INTEGER" property="inforid" />
    <result column="SendName" jdbcType="VARCHAR" property="sendname" />
    <result column="ToEmail" jdbcType="VARCHAR" property="toemail" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="Time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    InforID, SendName, ToEmail, Content, Time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information
    where InforID = #{inforid,jdbcType=INTEGER}
  </select>
  <select id="selectByToEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from information
    where toEmail = #{toEmail,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from information
    where InforID = #{inforid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwdlb.hongruan.model.Information">
    insert into information (InforID, SendName, ToEmail, 
      Content, Time)
    values (#{inforid,jdbcType=INTEGER}, #{sendname,jdbcType=VARCHAR}, #{toemail,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wwdlb.hongruan.model.Information">
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inforid != null">
        InforID,
      </if>
      <if test="sendname != null">
        SendName,
      </if>
      <if test="toemail != null">
        ToEmail,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="time != null">
        Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inforid != null">
        #{inforid,jdbcType=INTEGER},
      </if>
      <if test="sendname != null">
        #{sendname,jdbcType=VARCHAR},
      </if>
      <if test="toemail != null">
        #{toemail,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwdlb.hongruan.model.Information">
    update information
    <set>
      <if test="sendname != null">
        SendName = #{sendname,jdbcType=VARCHAR},
      </if>
      <if test="toemail != null">
        ToEmail = #{toemail,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        Time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where InforID = #{inforid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwdlb.hongruan.model.Information">
    update information
    set SendName = #{sendname,jdbcType=VARCHAR},
      ToEmail = #{toemail,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      Time = #{time,jdbcType=VARCHAR}
    where InforID = #{inforid,jdbcType=INTEGER}
  </update>
</mapper>