<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwdlb.hongruan.mapper.ProtocolMapper">
  <resultMap id="BaseResultMap" type="com.wwdlb.hongruan.model.Protocol">
    <id column="ProtocolID" jdbcType="INTEGER" property="protocolid" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    ProtocolID, Title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from protocol
    where ProtocolID = #{protocolid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from protocol
    where ProtocolID = #{protocolid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwdlb.hongruan.model.Protocol">
    insert into protocol (ProtocolID, Title)
    values (#{protocolid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wwdlb.hongruan.model.Protocol">
    insert into protocol
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="protocolid != null">
        ProtocolID,
      </if>
      <if test="title != null">
        Title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="protocolid != null">
        #{protocolid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwdlb.hongruan.model.Protocol">
    update protocol
    <set>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where ProtocolID = #{protocolid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwdlb.hongruan.model.Protocol">
    update protocol
    set Title = #{title,jdbcType=VARCHAR}
    where ProtocolID = #{protocolid,jdbcType=INTEGER}
  </update>
</mapper>