<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwdlb.hongruan.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.wwdlb.hongruan.model.Task">
    <id column="TaskID" jdbcType="INTEGER" property="taskid" />
    <result column="ProjectName" jdbcType="VARCHAR" property="projectname" />
    <result column="TaskName" jdbcType="VARCHAR" property="taskname" />
    <result column="TaskDetail" jdbcType="VARCHAR" property="taskdetail" />
    <result column="SafetyGrade" jdbcType="INTEGER" property="safetygrade" />
    <result column="Priority" jdbcType="INTEGER" property="priority" />
    <result column="StartTime" jdbcType="VARCHAR" property="starttime" />
    <result column="EndTime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    TaskID, ProjectName, TaskName, TaskDetail, SafetyGrade, Priority, StartTime, EndTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where TaskID = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where TaskID = #{taskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wwdlb.hongruan.model.Task">
    insert into task (TaskID, ProjectName, TaskName, 
      TaskDetail, SafetyGrade, Priority, 
      StartTime, EndTime)
    values (#{taskid,jdbcType=INTEGER}, #{projectname,jdbcType=VARCHAR}, #{taskname,jdbcType=VARCHAR}, 
      #{taskdetail,jdbcType=VARCHAR}, #{safetygrade,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wwdlb.hongruan.model.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        TaskID,
      </if>
      <if test="projectname != null">
        ProjectName,
      </if>
      <if test="taskname != null">
        TaskName,
      </if>
      <if test="taskdetail != null">
        TaskDetail,
      </if>
      <if test="safetygrade != null">
        SafetyGrade,
      </if>
      <if test="priority != null">
        Priority,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="projectname != null">
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="taskdetail != null">
        #{taskdetail,jdbcType=VARCHAR},
      </if>
      <if test="safetygrade != null">
        #{safetygrade,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwdlb.hongruan.model.Task">
    update task
    <set>
      <if test="projectname != null">
        ProjectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        TaskName = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="taskdetail != null">
        TaskDetail = #{taskdetail,jdbcType=VARCHAR},
      </if>
      <if test="safetygrade != null">
        SafetyGrade = #{safetygrade,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        Priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=VARCHAR},
      </if>
    </set>
    where TaskID = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwdlb.hongruan.model.Task">
    update task
    set ProjectName = #{projectname,jdbcType=VARCHAR},
      TaskName = #{taskname,jdbcType=VARCHAR},
      TaskDetail = #{taskdetail,jdbcType=VARCHAR},
      SafetyGrade = #{safetygrade,jdbcType=INTEGER},
      Priority = #{priority,jdbcType=INTEGER},
      StartTime = #{starttime,jdbcType=VARCHAR},
      EndTime = #{endtime,jdbcType=VARCHAR}
    where TaskID = #{taskid,jdbcType=INTEGER}
  </update>
</mapper>